.FooterBoard_header1 {
  align-content: start;
  text-align: start;
}
.FooterBoard_ol1 {
  width: auto;
}
.FooterBoard_div1 {
  width: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  max-width: 100%;
  max-height: 100%;
}
.FooterBoard_div2 {
  padding: 20px;
}
